.register-page {
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1678852524356-08188528aed9?q=80&w=2080&auto=format&fit=crop') no-repeat center center fixed;
  background-size: cover;
}

.register-card {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  overflow: hidden;
}
.custom-file-upload {
  display: flex;
  align-items: center;
  gap: 10px;
}

.custom-file-upload button {
  display: inline-block;
  padding: 8px 12px;
  font-size: 0.9rem;
}

.custom-file-upload span {
  font-size: 0.85rem;
  color: #ccc;
}


